.row
  .col-md-8
    %h2.pull-left Forque forum
    = link_to 'Create topic', new_topic_path, class: 'btn btn-success btn-sm pull-right'
  .col-md-4
    .pull-right
      %h3 Latest comments
.row
  .col-md-8
    - @topics.each do |topic|
      %h3
        = link_to topic.title, topic_path(topic)
      %p
        = topic.text
      %div
        %span.badge Posted #{topic.publish_date.to_formatted_s(:long_ordinal)}
        .pull-right
          %span.label.label-default alice
          %span.label.label-primary story
          %span.label.label-success blog
          %span.label.label-info personal
          %span.label.label-warning Warning
          %span.label.label-danger Danger
